#kbButton {
    width: 90vw;
    background-color: #CB0036;
    color: white;
    border-radius: 5px;
    height: 5vh;
    font-size: 20px;
    border: 1px inset white;
} 

#voteButton {
    width: 90vw;
    background-color: #DF941D;
    color: white;
    border-radius: 5px;
    height: 5vh;
    font-size: 20px;
    border: 1px inset white;
}

#navPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pageImage {
    background: url("https://assets-learning.parliament.uk/uploads/2020/05/HOC-Chamber-scaled.jpg");
    background-size: cover;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: white;
    font-weight: bold;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

#contactButton {
    background-color: #419D78;
        width: 90vw;
    color: white;
    border-radius: 5px;
    height: 5vh;
    font-size: 20px;
    border: 1px inset white;
}